@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Black";
  src: url("/fonts/Poppins-Black.woff");
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("/fonts/Poppins-ExtraBold.woff");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("/fonts/Poppins-Regular.woff");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("/fonts/Poppins-Light.woff");
}

body {
  @apply text-white bg-gray-900;
}

p {
  @apply my-2;
}
.heading,
.nav-links {
  cursor: pointer;
}
